@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Montserrat&family=Open+Sans&family=Roboto&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all 0.25s ease-in-out;
	scroll-behavior: smooth;
}
:root {
	--bgcolor: #f9f9f9;
	--tcolor: #121212;

	--black: #000000;
	--white: #ffffff;

	--back-shadow: rgba(0, 0, 0, 0.2);
	--back-shadow-light: rgba(0, 0, 0, 0.1);
	--transition-time: 200ms;

	--red: #f44336;
	--red-100: #ffcdd2;
	--red-400: #ef5350;
	--red-700: #d32f2f;

	--pink: #e91e63;
	--pink-100: #f8bbd0;
	--pink-400: #ec407a;
	--pink-700: #c2185b;

	--purple: #9c27b0;
	--purple-100: #e1bee7;
	--purple-400: #ab47bc;
	--purple-700: #7b1fa2;

	--dark-purple: #673ab7;
	--dark-purple-100: #d1c4e9;
	--dark-purple-400: #7e57c2;
	--dark-purple-700: #512da8;

	--indigo: #3f51b5;
	--indigo-100: #c5cae9;
	--indigo-400: #5c6bc0;
	--indigo-700: #303f9f;

	--blue: #2196f3;
	--blue-100: #bbdefb;
	--blue-400: #42a5f5;
	--blue-700: #1976d2;

	--light-blue: #03a9f4;
	--light-blue-100: #b3e5fc;
	--light-blue-400: #29b6f6;
	--light-blue-700: #0288d1;

	--cyan: #00bcd4;
	--cyan-100: #b2ebf2;
	--cyan-400: #26c6da;
	--cyan-700: #0097a7;

	--green: #4caf50;
	--green-100: #c8e6c9;
	--green-400: #66bb6a;
	--green-700: #388e3c;

	--light-green: #8bc34a;
	--light-green-100: #dcedc8;
	--light-green-400: #9ccc65;
	--light-green-700: #689f38;

	--yellow: #ffeb3b;
	--yellow-100: #fff9c4;
	--yellow-400: #ffee58;
	--yellow-700: #fbc02d;

	--orange: #ff9800;
	--orange-100: #ffe0b2;
	--orange-400: #ffa726;
	--orange-700: #f57c00;

	--deep-orange: #ff5722;
	--deep-orange-100: #ffccbc;
	--deep-orange-400: #ff7043;
	--deep-orange-700: #e64a19;

	--brown: #795548;
	--brown-100: #d7ccc8;
	--brown-400: #8d6e63;
	--brown-700: #5d4037;

	--grey: #9e9e9e;
	--grey-100: #f5f5f5;
	--grey-400: #bdbdbd;
	--grey-700: #616161;

	--blue-grey: #607d8b;
	--blue-grey-100: #cfd8dc;
	--blue-grey-400: #78909c;
	--blue-grey-700: #455a64;

	--blue: #4285f4;
	--red: #ea4335;
	--yellow: #fbbc05;
	--green: #34a853;
}
@import "./responsive";
html {
	font-size: 16px;
	@include respond(tab) {
		font-size: 14px;
	}
	@include respond(phone) {
		font-size: 12px;
	}
}
body {
	font-family: Monteserrat, "Open Sans", sans-serif;
	font-size: 1rem;
	background-color: var(--bgcolor);
	color: var(--tcolor);
	width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-flow: column;
	letter-spacing: 0.025rem;
	word-spacing: 0.25rem;
	line-height: 1.25rem;
	transition: all var(--transition-time) ease-in-out;
	overflow-x: hidden;
}
img {
	object-fit: cover;
	max-width: 100%;
	max-height: 100%;
}
a {
	text-decoration: none;
	color: inherit;
	&:hover,
	&:active,
	&:focus,
	&:visited {
		border: none;
		outline: none;
	}
}

.material-icons {
	user-select: none;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.dispn {
	display: none !important;
}
